/* body {
    background-image: url("https://i.pinimg.com/originals/21/a1/7b/21a17b9ff3851fe5438feebca2fe3c98.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
  } */

  body {
    background-color: #171616;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    --s: 700px; /* Increased size for cover effect */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
    display: flex;
    justify-content: center;
    align-items: center;
}
  

.bigcard-register{
    width: 600px;
    height: 781px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #171616;
}

.text-with-logo-register img{
    width: 70px;
    height: 70px;
}

.text-with-logo-register h1{
    color: #FFF;
    font-family: "Inter";
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;   
}

.text-with-logo-register{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    top: 60px;
}

#signin-register {
    color: #FFF;
    font-family: "Inter";
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -2.5px;
    position: relative;
    top: 90px;
    left: 100px;
}

.signup-register {
    color: #8D8D8D;
    font-family: "Inter";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    left: 19.5pc;
    top: 20px;
}


#username-register, #password-register, #email-register{
    width: 380px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #D9D9D9;
    box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 20px;
    transition: 0.5s ease-in-out;
}

#username-register::placeholder, #password-register::placeholder, #email-register::placeholder{
    color: #948E8E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 10px;
}

#username-register:focus, #password-register:focus, #email-register:focus{
    outline: none;
    transform: scale(1.1);
    border: 3px solid #47B25E;
}

#username-register{
    margin-bottom: 20px;
}

#email-register{
    margin-bottom: 20px;
}
#password-register{
    margin-bottom: 60px;
}

#submit-register{
    width: 380px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #47B25E;
    box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFFCFC;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}


#submit-register:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 30px 5px #47b25ec8;
}

.inputs-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40px;
}

.forgot-password-register{
    color: #8D8D8D;
    font-family: "Inter";
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.forgot-password-container-register{
    display: flex;
    justify-content: center;
    position: relative;
    top: 55px;
}



