body {
    margin: auto;
    width: 100%;
    padding: 2rem;
    overflow: hidden;
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
    position: relative;
    bottom: 10px;
}


.bigtitle {
    font-family: 'Inter', sans-serif;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.searchbar {
    width: 400px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: #282828;
    border: none;
    transition: 0.3s;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.searchbar::placeholder {
    color: rgba(255, 255, 255, 0.40);
    font-family: "Inter";
    font-size: 13px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    position: relative;
    left: 15px;
}

.searchbar:focus {
    outline: none;
    border-color: rgb(74, 237, 69);
    border: solid 1px rgb(74, 237, 69);
}

.searchbar-container {
    display: flex;
    align-items: center;
    position: relative;
    left: 26pc;
}

.searchbar-container img {
    position: relative;
    right: 40px;
}

.profile h1 {
    color: #7C7676;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 20px;
}

.profile {
    display: flex;
    align-items: center;
    position: relative;
    right: 5pc;
}

.browsemusic-container {
    position: relative;
    left: 20px;
    top: 10px;
}

.library-container {
    position: relative;
    left: 20px;
    top: 50px;
}

.browse-music h1 {
    color: #FFF;
    font-family: "Inter";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

li a {
    list-style: none;
    color: #7C7676;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    position: relative;
    right: 38px;
}

.home,
.tracks {
    display: block;
    margin-bottom: 22px !important;
}

.home img,
.tracks img,
.genres img {
    margin-right: 10px;
    position: relative;
    top: 7px;
}

.library h1 {
    color: #FFF;
    font-family: "Inter";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
}

.recently-played,
.favorite {
    display: block;
    margin-bottom: 22px !important;
}

.bigcard {
    width: 1100px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    position: relative;
    bottom: 25pc;
    left: 18pc;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.top-text {
    color: #EAE8E8;
    font-family: "Inter";
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.bigcard h1 {
    color: #EAE8E8;
    font-family: "Inter";
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    position: relative;
    top: 20px;
}

.minitext {
    color: #EAE8E8;
    font-family: "Inter";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    bottom: 20px;
}

.bigcard-text {
    top: 20px;
    position: relative;
    left: 80px;
}

.numberstext {
    color: #EAE8E8;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 5px;
    top: 70px;
}

.numberstext img {
    position: relative;
    top: 5px;
    left: -5px;
}

.bottom-musiclist {
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: 23pc;
    left: 19pc;
}

.bottom-musiclist h1 {
    color: #FFF;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    transition: 0.5s;
}

.bottom-musiclist p {
    color: #FFF;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    position: relative;
    bottom: 10px;
    transition: 0.5s;
}

.bottom-musiclist img {
    height: 120px;
}

.bottom-musiclist h1,
.bottom-musiclist p {
    position: relative;
    left: 5px;
}


.musicbox1 img,
.musicbox2 img,
.musicbox3 img,
.musicbox4 img,
.musicbox5 img,
.musicbox6 img {
    transition: 0.5s ease-in-out;
    margin-right: 60px;
    cursor: pointer;
}


.musicbox1 img:hover,
.musicbox2 img:hover,
.musicbox3 img:hover,
.musicbox4 img:hover,
.musicbox5 img:hover,
.musicbox6 img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.musicbox1 img:hover~h1,
.musicbox1 img:hover~p,
.musicbox2 img:hover~h1,
.musicbox2 img:hover~p,
.musicbox3 img:hover~h1,
.musicbox3 img:hover~p,
.musicbox4 img:hover~h1,
.musicbox4 img:hover~p,
.musicbox5 img:hover~h1,
.musicbox5 img:hover~p,
.musicbox6 img:hover~h1,
.musicbox6 img:hover~p {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.longcard{
    width: 1920px;
    height: 120px;
    flex-shrink: 0;
    background: rgba(35, 35, 35, 0.70);
    backdrop-filter: blur(2px);
    position: relative;
    bottom: 21pc;
    right: 30px;
}

.music-card{
    position: absolute;
    top:50%;
    left: 6%;
    transform: translate(-50%,-50%);
    width: 90px;
    height: 90px;
    border-radius: 20px;
    background-image: url(assets/image.png);
    background-size: cover;
}

.minitext-footer h1{
    color: #FFF;
    font-family: "Inter";
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.minitext-footer p{
    color: #ffffffa4;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    position: relative;
    bottom: 10px;
}

.minitext-footer{
   display: block;
   justify-content: center;
   position: relative;
   left: 12rem;
   top: 1.6rem;
}

.long-stick{
    width: 900px;
    height: 3px;
    flex-shrink: 0;
    border-radius: 20px;
    background: linear-gradient(270deg, #665F5F 42%, #D9D9D9 100%);
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.buttons-musics{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
}

.pause-button{
    margin-right: 50px;
    margin-left: 50px;
}

.pause-button  {
    width: 40px;
    height: 40px;
}

.left,
.right{
    width: 40px;
    height: 40px;
    margin-right: 40px;
    margin-left: 40px;
}

.repeat,
.shuffle{
    width: 17px;
    height: 17px;
    margin-top: 10px;
}
